body {
    margin: 0;
    font-family: ROBOTO;
    cursor: default;
}
.wrapper {
    overflow: hidden;
    height: calc(100vh - 24px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
}
.footer {
    background-color: #000;
    text-align: center;
}
.footer a {
    color: #fff;
    letter-spacing: 1px;
    font-weight: 400;
    text-decoration: none;
    font-size: .8em;
    margin: 0;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.footer a:hover {
/*    animation: blur 1.25s ease-out;*/
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    -o-transform: scale(.9);
    transform: scale(.9);
}
.align-items-center {
    background: #ffed00;
}
.content {
    margin: auto;
}
span {
    height: 79px;
    display: inherit;
    line-height: 65px;
    font-size: 15em;
    font-weight: bold
}
p {
    margin: 0;
    font-weight: bold;
    font-size: 1.5em
}
a {
    margin-top: 40px;
    display: inline-flex;
    font-size: 1.28em;
    text-decoration: underline;
    color: #000
}
/*
@keyframes blur {
  from {
    text-shadow: 0px 0px 2px #fff, 0px 0px 2px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 15px #fff, 0px 0px 15px #fff, 0px 0px 15px #7B96B8, 0px 0px 40px #7B96B8, 0px 5px 20px #7B96B8, 0px 5px 20px #7B96B8, 0px 5px 20px #7B96B8, 0px 5px 20px #7B96B8, 0px -5px 20px #7B96B8, 0px -5px 20px #7B96B8, 0px 0px 15px #fff, 0px 0px 15px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 2px #fff; } }
*/
@media (max-width: 769px)
{
    body {
        text-align: center;
        background: #ffed00
    }
    .col-12 {
        margin: 20px 0
    }
    span {
        font-size: 9em;
        line-height: 1;
        height: auto;
    }
}
