@font-face {
  font-family: "ProximaRegular";
  src: url("../fonts/ProximaNova-Regular.ttf"); }
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0; }

input[type='number'] {
  -moz-appearance: textfield; }

body {
  font-family: "ProximaRegular"; }
  body:active, body :hover, body :focus {
    outline: 0;
    outline-offset: 0; }

button {
  border: 0;
  border-radius: 0;
  cursor: pointer;
  color: #FFF; }

ul, li, ol {
  padding: 0;
  list-style-type: none; }

h1, h2, h3, h4, h5, p, a, span, address, li, label {
  font-size: 14px;
  margin: 0;
  line-height: 1.3; }

h1, h3, h4, h5, p, span, address, a:not([href]):not([tabindex]) {
  cursor: default; }

h2 {
  font-size: 2.3em;
  font-weight: 600;
  text-transform: uppercase; }

img {
  pointer-events: none; }

.podarok {
  color: #FFF;
  z-index: 130;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 20px 0; }
  .podarok h3 {
    font-size: 2em;
    font-style: italic; }
  .podarok p {
    font-size: 1em;
    font-style: italic; }
  .podarok button {
    text-transform: uppercase;
    background: #00F;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 1.2em; }
  .podarok .close-pod {
    position: absolute;
    width: 35px;
    right: -20px;
    top: -10px;
    cursor: pointer;
    pointer-events: auto;
    z-index: 130;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
    .podarok .close-pod:hover {
      opacity: 0.6; }
  .podarok form {
    margin-top: 15px; }
  .podarok input, .podarok button {
    font-size: 1em;
    padding: 10px 10px;
    width: 90%; }
  .podarok input {
    padding: 10px 10px;
    font-size: 1em;
    border: 0;
    border-radius: 5px; }
  .podarok button {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
    .podarok button:hover {
      opacity: 0.6; }

.formhid .close {
  pointer-events: auto;
  cursor: pointer;
  position: absolute;
  top: -50px;
  right: -33px;
  z-index: 140; }
.formhid .in {
  background: #FFF;
  padding: 30px;
  text-align: center; }
  .formhid .in .logo {
    width: 150px; }
  .formhid .in p {
    margin: 25px 0;
    font-size: 1.4em; }
  .formhid .in span {
    font-size: 0.7em; }
  .formhid .in input {
    color: #000;
    border-radius: 25px;
    border: 1px solid #000;
    background: transparent;
    display: block;
    margin: 25px auto 15px;
    padding: 5px 10px;
    width: 85%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
    .formhid .in input:focus {
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.05);
      -ms-transform: scale(1.05);
      -o-transform: scale(1.05);
      transform: scale(1.05); }
      .formhid .in input:focus::-webkit-input-placeholder {
        color: transparent; }
      .formhid .in input:focus:-moz-placeholder {
        color: transparent; }
      .formhid .in input:focus::-moz-placeholder {
        color: transparent; }
      .formhid .in input:focus:-ms-input-placeholder {
        color: transparent; }
    .formhid .in input::-webkit-input-placeholder {
      transition: all 0.5s;
      color: #000; }
    .formhid .in input:-moz-placeholder {
      transition: all 0.5s;
      color: #000; }
    .formhid .in input::-moz-placeholder {
      transition: all 0.5s;
      color: #000; }
    .formhid .in input:-ms-input-placeholder {
      transition: all 0.5s;
      color: #000; }
  .formhid .in button {
    background: #e8f700;
    display: block;
    margin: auto;
    color: #000;
    font-weight: 600;
    padding: 15px 20px;
    border-radius: 25px;
    width: 85%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5;
    transition: all 0.5s;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
    .formhid .in button:hover {
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.05);
      -ms-transform: scale(1.05);
      -o-transform: scale(1.05);
      transform: scale(1.05); }

.thanks .in {
  padding: 30px;
  text-align: center; }
  .thanks .in p {
    color: #FFF;
    font-size: 1.5em; }
  .thanks .in big {
    font-size: 1.3em; }

.hidden-form, .hidden-thanks {
  width: 100vw;
  user-select: none;
  position: fixed;
  height: 120vh;
  top: -10vh;
  z-index: 125;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 0;
  visibility: hidden; }

.show-form, .show-thanks {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  visibility: visible !important; }

.header {
  padding: 15px 0; }
  .header .header_align {
    display: inline-block;
    vertical-align: middle; }
    .header .header_align address {
      font-size: 1em; }
    .header .header_align a {
      color: #000;
      font-size: 1.5em; }
  .header .logo {
    height: 75px; }
  .header .icon {
    height: 50px;
    margin: 10px; }

.block-1 {
  padding-top: 7em;
  background: url("/img/block-1__bg.jpg");
  background-position: center; }
  .block-1 h1, .block-1 p, .block-1 span, .block-1 h3, .block-1 input {
    color: #FFF; }
  .block-1 .block-1__header h1, .block-1 .block-1__header p {
    font-size: 2.5em;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600; }
  .block-1 .block-1__header span {
    text-transform: uppercase;
    margin: 20px 0;
    display: block; }
  .block-1 .block-1__footer {
    margin-top: 150px;
    padding: 20px 15px;
    background: rgba(0, 0, 0, 0.8); }
    .block-1 .block-1__footer p {
      font-size: 1em; }
    .block-1 .block-1__footer .first h2 {
      color: #e8f700;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 2.2em; }
    .block-1 .block-1__footer .first p {
      font-weight: 400;
      font-size: 1em;
      text-align: left;
      margin: 45px 0 0 30px;
      text-transform: uppercase; }
    .block-1 .block-1__footer .first yellow {
      color: #e8f700; }
    .block-1 .block-1__footer .form span {
      line-height: 1;
      display: block;
      margin-top: 9px;
      font-size: 0.7em; }
    .block-1 .block-1__footer img {
      margin-top: 50px;
      width: 100%; }
    .block-1 .block-1__footer h3 {
      font-size: 1.3em;
      font-weight: 600;
      margin-top: 20px;
      margin-bottom: 3px; }
    .block-1 .block-1__footer input {
      border-radius: 25px;
      border: 3px solid #FFF;
      background: rgba(128, 128, 128, 0.7);
      display: block;
      margin: 35px auto 20px;
      padding: 5px 10px;
      width: 65%;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      transform: scale(1); }
      .block-1 .block-1__footer input:focus {
        transform: scale(1.05); }
        .block-1 .block-1__footer input:focus::-webkit-input-placeholder {
          color: transparent; }
        .block-1 .block-1__footer input:focus:-moz-placeholder {
          color: transparent; }
        .block-1 .block-1__footer input:focus::-moz-placeholder {
          color: transparent; }
        .block-1 .block-1__footer input:focus:-ms-input-placeholder {
          color: transparent; }
      .block-1 .block-1__footer input::-webkit-input-placeholder {
        transition: all 0.5s;
        color: #FFF; }
      .block-1 .block-1__footer input:-moz-placeholder {
        transition: all 0.5s;
        color: #FFF; }
      .block-1 .block-1__footer input::-moz-placeholder {
        transition: all 0.5s;
        color: #FFF; }
      .block-1 .block-1__footer input:-ms-input-placeholder {
        transition: all 0.5s;
        color: #FFF; }
    .block-1 .block-1__footer button {
      background: #e8f700;
      display: block;
      margin: auto;
      color: #000;
      font-weight: 600;
      padding: 15px 20px;
      border-radius: 25px;
      width: 65%;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5;
      transform: scale(1); }
      .block-1 .block-1__footer button:hover {
        transform: scale(1.05); }

.block-2 {
  padding: 100px 0;
  background: #f2f3f7; }
  .block-2 h2 {
    padding-bottom: 80px; }
  .block-2 img {
    display: block;
    margin: auto;
    height: 160px; }
  .block-2 span {
    margin-top: 10px;
    display: block;
    text-transform: uppercase;
    font-size: 1em; }

.block-3 {
  padding: 100px 0; }
  .block-3 button {
    width: 100%;
    margin-top: 10px;
    color: #000;
    background: #e8f700;
    font-weight: 600;
    padding: 10px 0px; }
  .block-3 h3 {
    font-size: 1.3em;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 15px; }
  .block-3 img {
    width: 100%; }
  .block-3 .block-3__in {
    background: #DDD;
    padding: 5px 10px; }
    .block-3 .block-3__in .price-new {
      color: red;
      font-weight: 600;
      font-size: 1.1em;
      display: inline-flex; }
    .block-3 .block-3__in .price-old {
      position: relative;
      display: inline-flex;
      font-weight: 600;
      font-size: 1em; }
  .block-3 .block-3__before h4 {
    font-size: 1.2em; }

.block-4 {
  padding: 100px 0 0;
  margin-bottom: 100px;
  background: #f2f3f7; }
  .block-4 h4 {
    color: #808080;
    font-weight: 600;
    font-size: 1.3em;
    margin: 6em 0 1em; }
  .block-4 .block-4__bigspan {
    display: block;
    font-size: 4em;
    color: #808080;
    font-weight: bold; }
    .block-4 .block-4__bigspan small {
      font-size: 0.3em;
      font-weight: bold;
      padding-left: 0.2em; }
  .block-4 .block-4__lilspan {
    display: block;
    color: #808080;
    font-size: 0.7em; }
  .block-4 .block-4__footer {
    margin-top: 20px;
    background: #e8f700;
    position: relative; }
    .block-4 .block-4__footer img {
      position: absolute;
      bottom: 0;
      width: 1070px;
      right: -110px; }
    .block-4 .block-4__footer p {
      font-size: 1.4em;
      font-weight: 600;
      padding: 15px 0 3px;
      line-height: 1;
      text-transform: uppercase; }
      .block-4 .block-4__footer p small {
        font-weight: 600; }
    .block-4 .block-4__footer input {
      display: block;
      border: 0;
      border-radius: 25px;
      padding: 7px 23px;
      width: 80%;
      margin: 10px auto;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5; }
      .block-4 .block-4__footer input:focus {
        transform: scale(1.05); }
        .block-4 .block-4__footer input:focus::-webkit-input-placeholder {
          color: transparent; }
        .block-4 .block-4__footer input:focus:-moz-placeholder {
          color: transparent; }
        .block-4 .block-4__footer input:focus::-moz-placeholder {
          color: transparent; }
        .block-4 .block-4__footer input:focus:-ms-input-placeholder {
          color: transparent; }
      .block-4 .block-4__footer input::-webkit-input-placeholder {
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5;
        color: #000; }
      .block-4 .block-4__footer input:-moz-placeholder {
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5;
        color: #000; }
      .block-4 .block-4__footer input::-moz-placeholder {
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5;
        color: #000; }
      .block-4 .block-4__footer input:-ms-input-placeholder {
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5;
        color: #000; }
    .block-4 .block-4__footer button {
      display: block;
      background: #ff0000;
      border-radius: 115px;
      border: 0;
      padding: 15px 0;
      font-size: 1.3em;
      width: 80%;
      margin: 10px auto;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5;
      transform: scale(1); }
      .block-4 .block-4__footer button:hover {
        transform: scale(1.05); }
    .block-4 .block-4__footer span {
      display: block;
      margin-bottom: 20px; }
    .block-4 .block-4__footer a {
      color: #000;
      text-decoration: underline;
      transition: opacity 0.3s; }
      .block-4 .block-4__footer a:hover {
        opacity: 0.7; }

.block-5 iframe {
  height: 500px; }
.block-5 img {
  width: 200px;
  display: block;
  margin: 15px auto; }
.block-5 h2 {
  font-size: 2.3em;
  display: block;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  color: #313131;
  margin-top: 40px; }
.block-5 p {
  padding-top: 20px;
  font-size: 1.05em; }

.block-6 {
  padding: 200px 0 30px;
  background-image: url(/img/block-6__bg.jpg);
  background-size: cover;
  background-position: right top;
  background-repeat: no-repeat; }

.block-7 h3, .block-8 h3, .block-9 h3 {
  font-size: 1.5em;
  font-weight: 600;
  padding: 30px 0; }

.block-7 {
  background: #e8e8e8;
  padding-bottom: 70px; }
  .block-7 .firstimg {
    margin-bottom: 30px;
    padding: 0;
    box-shadow: 1px 1px 8px 4px rgba(0, 0, 0, 0.12); }
    .block-7 .firstimg img {
      height: 220px; }
  .block-7 p {
    font-size: 1.2em; }
    .block-7 p big {
      font-weight: 600; }
  .block-7 .mirrors img {
    height: 140px; }
  .block-7 .windowshopper img {
    height: 70px;
    margin-bottom: 10px; }

.block-8 {
  background: #e8e8e8; }

.block-9 {
  padding: 55px 0 170px;
  background: url("/img/block-9__bg.jpg");
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat; }

.block-10 {
  padding: 150px 0; }
  .block-10 h2 {
    padding-bottom: 50px; }
  .block-10 p {
    font-size: 1.2em;
    text-align: center;
    padding-top: 10px;
    font-weight: 600; }

.block-11 {
  background: url("/img/block-11__bg.jpg");
  background-position: center center;
  padding: 100px 0; }
  .block-11 .col-12 {
    background: #FFF; }
  .block-11 .logo {
    position: absolute;
    right: 0;
    top: 0;
    padding: 15px;
    width: 110px;
    z-index: 120; }
  .block-11 span {
    line-height: 1;
    display: block;
    margin-bottom: 40px; }
  .block-11 h3 {
    margin-top: 60px;
    font-size: 3.6em;
    font-weight: 600; }
  .block-11 p {
    font-size: 0.9em;
    font-weight: 600;
    text-transform: uppercase;
    margin: 20px 0 10px; }
  .block-11 form span {
    font-size: 0.7em;
    margin-left: 25px; }
    .block-11 form span a {
      font-size: 1em;
      color: #000;
      text-decoration: underline;
      transition: opacity 0.3s; }
      .block-11 form span a:hover {
        opacity: 0.6; }
  .block-11 button, .block-11 input {
    border: 1px solid #000;
    display: block;
    width: 85%; }
  .block-11 button {
    background: #ff0000;
    border-radius: 25px;
    border: 0;
    padding: 10px 0;
    font-size: 1.3em;
    text-align: center;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5;
    transform: scale(1); }
    .block-11 button:hover {
      transform: scale(1.05); }
  .block-11 input {
    display: block;
    margin: 10px 0;
    border-radius: 25px;
    padding: 5px 10px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5; }
    .block-11 input:focus {
      transform: scale(1.05); }
      .block-11 input:focus::-webkit-input-placeholder {
        color: transparent; }
      .block-11 input:focus:-moz-placeholder {
        color: transparent; }
      .block-11 input:focus::-moz-placeholder {
        color: transparent; }
      .block-11 input:focus:-ms-input-placeholder {
        color: transparent; }
    .block-11 input::-webkit-input-placeholder {
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5;
      color: #000; }
    .block-11 input:-moz-placeholder {
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5;
      color: #000; }
    .block-11 input::-moz-placeholder {
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5;
      color: #000; }
    .block-11 input:-ms-input-placeholder {
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5;
      color: #000; }

.block-12, .block-13, .review {
  padding: 100px 0; }
  .block-12 h2, .block-13 h2, .review h2 {
    padding: 30px 0 70px; }

.block-12 .slick-in img {
  padding: 20px;
  height: auto; }

.review iframe {
  height: 350px; }

.block-14 {
  padding: 60px 0; }
  .block-14 p {
    padding: 30px 0;
    font-size: 1.1em; }

.block-15 {
  padding: 100px 0; }
  .block-15 h2 {
    padding-bottom: 50px; }
  .block-15 iframe {
    height: 400px; }
  .block-15 img {
    padding: 15px;
    height: 70px; }
  .block-15 a {
    transition: 0.2s;
    display: inline-block;
    color: #000;
    font-size: 1.5em; }
    .block-15 a:hover {
      text-decoration: none;
      opacity: 0.7;
      transform: scale(0.92); }
  .block-15 address {
    display: inline-block;
    vertical-align: middle; }

.footer {
  padding: 30px 0;
  background: #f2f3f7; }
  .footer a {
    display: inline-block;
    color: #757575;
    font-size: 0.8em;
    transition: 0.3s; }
    .footer a:hover {
      text-decoration: none;
      opacity: 0.7;
      transform: scale(0.95); }
  .footer img {
    height: 40px;
    padding-right: 10px; }

@media (min-width: 992px) and (max-width: 1199.98px) {
  .podarok p {
    font-size: 0.8em; }
  .podarok .close-pod {
    width: 25px; }
  .podarok input, .podarok button {
    font-size: 0.8em; }

  .block-1 .block-1__header h1, .block-1 .block-1__header p {
    font-size: 2.1em; }
  .block-1 .block-1__footer input {
    margin: 35px auto 20px; }

  h2 {
    font-size: 1.7em; }

  .block-3__before {
    margin-top: 30px; }

  .block-7 .firstimg img {
    height: 175px; }
  .block-7 p {
    font-size: 1em; }
  .block-7 .mirrors img {
    height: 90px; }
  .block-7 .windowshopper img {
    height: 55px; }

  .block-7 h3, .block-8 h3, .block-9 h3 {
    font-size: 1.1em; }

  .block-11 form span {
    font-size: 0.55em; } }
@media (min-width: 768px) and (max-width: 991.98px) {
  .podarok p {
    font-size: 0.7em; }
  .podarok h3 {
    font-size: 1.7em; }
  .podarok .close-pod {
    width: 25px; }
  .podarok input, .podarok button {
    font-size: 0.7em; }

  .block-4 h4 {
    text-align: center; }
  .block-4 .block-4__footer img {
    display: none; }

  .block-11 {
    text-align: center; } }
@media (min-width: 480px) and (max-width: 767.98px) {
  .podarok p {
    font-size: 0.6em; }
  .podarok .close-pod {
    width: 25px; }
  .podarok input, .podarok button {
    font-size: 0.6em; }
  .podarok h3 {
    font-size: 1.7em; }

  .formhid .in .logo {
    width: 100px; }
  .formhid .in p {
    display: none; }
  .formhid .in span {
    font-size: 0.6em; }

  h2 {
    font-size: 1.4em; }

  .header .logo {
    height: auto;
    width: 100%; }
  .header .icon {
    height: 30px; }

  .block-1 {
    padding-top: 4em; }
    .block-1 .block-1__header h1, .block-1 .block-1__header p {
      font-size: 1.5em; }
    .block-1 .block-1__footer {
      margin-top: 45px; }
      .block-1 .block-1__footer p {
        display: none; }
      .block-1 .block-1__footer .first {
        text-align: center; }
      .block-1 .block-1__footer input {
        margin: 30px auto 20px; }

  .block-2 {
    padding: 60px 0; }
    .block-2 img {
      width: 100%;
      height: auto; }
    .block-2 span {
      font-size: 0.6em; }

  .block-3 {
    padding: 60px 0; }
    .block-3 h5 {
      margin-bottom: 30px;
      font-size: 1.3em; }

  .block-4 {
    text-align: center;
    padding: 60px 0 0;
    margin-bottom: 60px; }
    .block-4 h4 {
      font-size: 1em;
      margin: 2em 0 1em;
      text-align: center; }
    .block-4 .block-4__footer {
      background: #f2f3f7; }
      .block-4 .block-4__footer .block-4__footer_shmuter {
        background: #e8f700; }
      .block-4 .block-4__footer img {
        display: none; }

  .block-5 p, .block-5 h2 {
    display: none; }
  .block-5 iframe {
    height: 300px; }

  .block-6 {
    padding: 140px 0 30px; }

  .block-10 h5 {
    font-size: 1.8em;
    margin-bottom: 20px; }

  .block-11 {
    text-align: center; }
    .block-11 input, .block-11 button {
      margin: 10px auto; }
    .block-11 p {
      padding: 20px 0 15px; }

  .block-10, .block-11, .block-12, .block-13, .review {
    padding: 50px 0; }

  .block-12 h2, .block-13 h2, .review h2 {
    padding: 10px 0 30px; }

  .review iframe {
    height: 150px; }

  .block-15 {
    padding-bottom: 0; }
    .block-15 .container {
      padding: 0; }
    .block-15 iframe {
      margin-top: 40px;
      height: 300px; } }
@media (max-width: 479px) {
  .podarok .close-pod {
    right: 10px; }
  .podarok p {
    font-size: 0.8em; }
  .podarok h3 {
    font-size: 1.6em; }
  .podarok input, .podarok button {
    font-size: 0.7em;
    width: 100%; }

  .mob-hide {
    display: none; }

  h2 {
    font-size: 1.3em; }

  .header .logo {
    height: auto;
    width: 100%; }
  .header .icon {
    height: 30px; }
  .header .header_align address {
    font-size: 0.7em; }
  .header .header_align a {
    font-size: 1.1em; }

  .block-1 {
    background: url("/img/mobile/b1__bg.jpg");
    background-repeat: no-repeat; }
    .block-1 .block-1__header h1, .block-1 .block-1__header p {
      font-size: 1.5em; }
    .block-1 .block-1__header span {
      display: none; }
    .block-1 .block-1__footer {
      width: 70%;
      margin: 100px auto 0;
      background: #000; }
      .block-1 .block-1__footer .first {
        display: none; }
      .block-1 .block-1__footer h3 {
        font-size: 1em; }
      .block-1 .block-1__footer input {
        margin: 30px auto 10px;
        width: 100%; }
      .block-1 .block-1__footer button {
        width: 100%; }

  .block-2 {
    padding: 100px 0 0; }
    .block-2 span {
      font-size: 0.8em;
      margin-bottom: 30px; }
    .block-2 img {
      height: 120px; }

  .block-3 {
    padding: 60px 0; }
    .block-3 h3 {
      display: none; }
    .block-3 h5 {
      font-size: 1em;
      text-align: center;
      margin-bottom: 30px; }
      .block-3 h5 strong {
        font-size: 1.25em; }
    .block-3 .block-3__before {
      display: none; }
    .block-3 .block-3__in p {
      font-size: 0.5em; }
    .block-3 .block-3__in .price-new {
      font-size: 0.6em; }

  .block-4 {
    padding: 60px 0 0;
    margin-bottom: 100px; }
    .block-4 h4 {
      text-align: center;
      margin: 0.6em 0 1em; }
    .block-4 .block-4__footer {
      background: #f2f3f7; }
      .block-4 .block-4__footer img {
        display: none; }
      .block-4 .block-4__footer .block-4__footer_shmuter {
        background: #e8f700; }
      .block-4 .block-4__footer button, .block-4 .block-4__footer input {
        width: 90%; }

  .block-5 iframe {
    height: 250px; }
  .block-5 p, .block-5 h2 {
    display: none; }

  .block-10 h5 {
    font-size: 2.6em;
    font-weight: 600; }
  .block-10 p {
    padding-bottom: 50px;
    font-size: 1.6em; }

  .block-11 {
    text-align: center;
    padding: 60px 0; }
    .block-11 h2 {
      font-size: 1.9em; }
    .block-11 p {
      font-size: 0.9em;
      padding-bottom: 30px; }
    .block-11 input, .block-11 button, .block-11 span {
      margin: 10px auto;
      width: 90%; }

  .block-12 h2, .block-13 h2, .review h2 {
    padding: 10px 0 20px; }

  .block-12 .slick-in img {
    padding: 10px; }

  .block-12, .block-13 {
    padding: 60px 0; }

  .review {
    padding: 0; }
    .review iframe {
      height: 240px;
      padding-top: 20px; }

  .block-14 {
    padding: 0; }

  .block-15 {
    padding: 60px 0 0; }

  .footer img {
    height: 50px; }
  .footer a {
    font-size: 0.9em; }

  .formhid .in p {
    font-size: 1em; }
  .formhid .in span {
    font-size: 0.4em; } }

/*# sourceMappingURL=index.css.map */
